<div class="main-content">
    <h1>Благодарим и на:</h1>
    <div class="info-section">
        <div class="info-panel">
            <h1>Гого Кехайов</h1>
            <p>
                Фотограф на годежната ни фотосесия и на сватбата ни в Самоков и околностите.
                Благодарим ти за страхотния ентусиазъм, професионализъм и чар.
                Чрез снимките ти ще запечатаме емоцията във времето.<br />
                <a href="http://kehayov.com" target="_blank">kehayov.com</a>
            </p>
        </div>
        <div class="info-panel">
            <h1>Петя Емилова (smailka)</h1>
            <p>
                Фотограф на морската ни сватба в Ахтопол.
                Благодарим ти, задето успя да запечаташ първите мигове на семейния ни живот
                на фона на безкрайното море.<br />
                <a href="http://www.smailka.com" target="_blank">www.smailka.com</a>
                <br /><br />
            </p>
        </div>
        <div class="info-panel">
            <h1>Стоян Петров</h1>
            <p>
                Невероятният DJ и водещ на нашето тържество.
                Дансингът никога не остана празен, а всички обичаи и ритуали бяха изпълнени отлично.
                Истински професионалист.<br />
                <a href="http://djstoian.com/" target="_blank">djstoian.com</a>
            </p>
        </div>
        <div class="info-panel">
            <h1>Филмова къща „Виктор Попов“</h1>
            <p>
                Видеозаснемане на сватбеното ни тържество.
                Защото малко хора биха се качили с личната си кола до върха на горист хълм,
                за да угодят на авантюристични младоженци.<br />
                <a href="http://www.victorpopov.com/" target="_blank">victorpopov.com</a>
            </p>
        </div>
        <div class="info-panel">
            <h1>Хотел „Лион“</h1>
            <p>
                Ресторантът беше уютен, храната вкусна, а обслужването – на ниво.
                И всичко това сред аромата на иглички от боровете на Чамкория.<br />
                <a href="http://www.borovetz.hotelslion.bg/" target="_blank">borovetz.hotelslion.bg</a>
            </p>
        </div>
    </div>
</div>