<div class="hero">
    <object type="image/svg+xml" data="views/media/logo.svg">
        борчета
    </object>
    <div class="general-info">
        <h1>Иво + Бубе</h1>
        <h2>24.09.2016</h2>
    </div>
</div>

<div class="navigation">
<ul>
    <li class="primary">
        <a ui-sref="app.story">За нас</a>
    </li>
    <li class="primary">
        <a ui-sref="app.map">Карта</a>
    </li>
    <li class="primary">
        <a ui-sref="app.timeline">Разписание</a>
    </li>
    <br />
    <li class="primary">
        <a ui-sref="app.info">Подробности</a>
    </li>
    <li class="primary">
        <a ui-sref="app.media">Снимки и видео</a>
    </li>
</ul>
</div>