<div class="hero">
    <object type="image/svg+xml" data="views/media/logo.svg">
        борчета
    </object>
    <div class="general-info">
        <h1>Иво + Бубе</h1>
        <h2>24.09.2016</h2>
        <h2 class="thank-you">
            Празникът ни нямаше да е същият без вас!
        </h2>
        <h2>
            Благодарим ти, <span id="guest-name">{{vm.guestName}}</span>!
        </h2>
    </div>
</div>

<div class="navigation">
<ul>
    <a ui-sref="app.story">
        <li class="primary">
            За нас
        </li>
    </a>
    <a ui-sref="app.map">
        <li class="primary">
           Карта
        </li>
    </a>
    <a ui-sref="app.timeline">
        <li class="primary">
            Разписание
        </li>
    </a>
    <br />
    <a ui-sref="app.info">
        <li class="primary">
            Подробности
        </li>
    </a>
    <a ui-sref="app.credits">
        <li class="primary">
            Благодарности и заслуги
        </li>
    </a>
    <a ui-sref="app.media">
        <li class="primary">
            Снимки и видео
        </li>
    </a>
</ul>
</div>