<div class="hero">
    <object type="image/svg+xml" data="views/media/logo.svg">
        борчета
    </object>
    <div class="general-info">
        <h1>24.09.2016</h1>
    </div>
</div>

<div class="login-invite">
    <span class="primary" ng-click="showLoginForm = true">влезте</span> за повече информация, снимки и инструкции
</div>

<div class="login-form" ng-show="showLoginForm">
    Въведете кода, който можете да намерите отпечатан на гърба на поканата.
    <input id="access-code" ng-model="vm.accessCode" type="text" />
    <button class="confirm" ng-click="vm.login()">
        Вход
    </button>
</div>