doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app)
    block content

    script(src='javascript/lib/angular.min.js')
    script(src='javascript/lib/angular-ui-router.min.js')
    script(src='app.js')
    script(src='javascript/services/services.js')
    script(src='javascript/controllers/controllers.js')
