@import 'https://fonts.googleapis.com/css?family=Cormorant+Infant|Lobster';

html, body {
    height: 100%;
}

body {
    padding: 50px;
    font-family: 'Lobster', cursive;
    background-color: #191919;
    color: #CFAB50;
    font-size: 1.6em;
    background-image: url("../images/woods.jpg");
}

.main {
    min-width: 400px;
    text-align: center;
    margin: auto;
}

svg line {
    stroke: black;
}

.hero {
    text-align: center;
    height: 440px;
}

.primary {
    display: inline-block;
    border-radius: 4px;
    color: #191919;
    background: rgb(207, 171, 80);
    background-color: rgba(207, 171, 80, 0.75);
    padding: 4px 6px;
    margin: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.8em;
}

.selected {
    background-color: rgba(247, 255, 110, 0.75);
}

.primary:hover {
    background-color: #808E8E;
}

.navigation ul {
    list-style-type: none;
    text-align: center;
}

.navigation li {
    display: inline-block;
}

h1, h2 {
    font-weight: normal;
    margin: 10px;
}

a {
    color: #1C2524;
    text-decoration: none;
}

.nav-logo {
    width: 40px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

nav {
    padding-bottom: 20px;
}

nav div {
    display: inline-block;
}

.nav-text {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.map {
    width: 80%;
    min-height: 400px;
    display: block;
    margin: auto;
    background-color: #fff;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;

    -webkit-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
}

ng-map {
    width: 100%;
    height: 400px;
}