@import 'https://fonts.googleapis.com/css?family=Cormorant+Infant|Lobster';

html, body, main {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: 'Lobster', cursive;
    background-color: #191919;
    color: #CFAB50;
    background-image: url("../images/woods.jpg");
}

.main {
    min-width: 400px;
    text-align: center;
    margin: auto;
    height: 100%
}

.main-content {
    height: 100%;
}

svg line {
    stroke: black;
}

.hero {
    text-align: center;
    max-height: 440px;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1.6em;
    }

    .hero {
        padding-top: 140px;
    }

    .primary {
        display: inline-block;
        min-width: 120px;
        max-height: 200px;
        padding: 4px 6px;
    }

    .schedule-holder {
        width: 80%;
        border-radius: 4px;
    }

    .info-panel {
        display: inline-block;
        vertical-align: top;
        margin: 20px;
        min-height: 280px;
    }

    .time {
        font-size: 1.9em;
        min-width: 40px;
    }
}

@media screen and (max-width: 768px) {
    body {
        margin: 0px;
        font-size: 1.5em;
    }

    .hero {
        padding-top: 15px;
    }

    .primary {
        display: block;
        margin: auto;
        min-width: 250px;
        max-height: 100%;
        padding: 20px 6px;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }

    .schedule-holder {
        min-width: 320px;
        display: block;
        margin: auto;
    }

    .info-panel {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        min-height: 180px;
    }

    .time {
        font-size: 1.4em;
        min-width: 30px;
    }
}

.info-panel {
    max-width: 560px;
    min-width: 210px;
    
    padding: 20px;
    text-align: justify;
    background-color: #1B2423;
    border-radius: 4px;

    -webkit-box-shadow: 0px -1px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 15px 0px rgba(0,0,0,0.75);
}

.info-panel a {
    color: #fff;
}

.schedule-holder {
    margin: auto;
    background-color: #1B2423;
    color: #CFAB50;

    -webkit-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);

    margin-top: 60px;
    margin-bottom: 20px;
}

table.schedule {
    width: 100%;
    min-width: 320px;
    border-collapse: collapse;
}

table.schedule td {
    padding: 20px 10px;
}

td.time {
    vertical-align: text-top;
    min-width: 80px;
    padding: 20px 0px 20px 10px !important;
}

td.map-link {
    padding: 5px !important;
}

td.description {
    vertical-align: text-top;
}

table.schedule tr:not(:last-child) td {
    border-bottom: 2px solid #1F2928;
}

table.schedule tr:hover td {
    background-color: #ffdb99;
    color: #1B2423;
    cursor: pointer;
}

.minutes {
    display: inline-block;
    font-size: 0.6em !important;
    padding: 4px 4px 20px 4px;
}

.primary {
    border-radius: 2px;
    color: #191919;
    background: rgb(207, 171, 80);
    background-color: rgba(207, 171, 80, 0.65);
    margin: 6px;
    cursor: pointer;
    font-size: 0.8em;

   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
    user-select: none;
}

.selected {
    background-color: rgba(247, 255, 110, 0.55);
}

.primary:hover {
    background-color: rgba(128, 142, 142, 0.55);
}

.navigation {
    text-align: center;
    height: calc(100% - 300px);
}

.navigation ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0px;
}

.navigation li {
    display: inline-block;
    margin-bottom: 10px;
}

h1, h2 {
    font-weight: normal;
    margin: 20px;
}

a {
    color: #1C2524;
    text-decoration: none;
}

.nav-logo {
    width: 40px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

nav {
    padding: 10px 5px 20px 5px;
}

nav div {
    display: inline-block;
}

.nav-text {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.map {
    width: 80%;
    min-width: 340px;
    min-height: 400px;
    display: block;
    margin: auto;
    background-color: #fff;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;

    -webkit-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);

    margin-bottom: 20px;
}

ng-map {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.info-section {
    margin: auto;
    max-width: 1350px;
    min-width: 300px;
    font-size: 0.65em;
    margin-bottom: 40px;
}

.info-section p {
    font-family: 'Cormorant Infant', serif;
    font-size: 1.6em;
    padding: 4px;
}

.info-panel h1 {
    margin-left: 0px;
    margin-top: 0px;
}

.info-panel p {
    min-height: 90px;
}
