<div class="main-content">
    <ul class="categories">
        <li ng-repeat="fileConf in vm.albums | orderBy:'order'"
            ng-click="vm.toggleShow(fileConf.displayName)"
            class="primary"
            ng-class="{shown:vm.shouldShow(fileConf.displayName)}"
            ng-if="fileConf.displayName !== ''">
                <a ui-sref="app.media({album: fileConf.displayName})">
                {{fileConf.displayName}}</a>
        </li>
    </ul>

    <div class="info-section">
        <div class="photo-holder" ng-repeat="fileConf in vm.albums">
            <h1 ng-if="vm.shouldShow(fileConf.displayName)">
                {{fileConf.displayName}}
            </h1>
            <div class="photo-holder"
                ng-repeat="filename in fileConf.files"
                ng-if="vm.shouldShow(fileConf.displayName)">

                <a
                    href="pictures_hires/{{fileConf.originalName}}/{{filename}}"
                    target="_blank">
                    <img
                    class="photo"
                    lazy-img="pictures/{{fileConf.originalName}}/{{filename}}" />
                </a>
            </div>
        </div>
    </div>
</div>