<div class="main-content">
    <div class="schedule-holder">
    <table class="schedule">
        <tbody>
            <tr>
                <td class="time">
                    13<sup class="minutes">00</sup>
                </td>
                <td class="description">
                    Взимане на булката
                </td>
                <td class="map-link">
                    <a ui-sref="app.map({location: 'взимане'})">
                        <img src="images/pin.png" alt="Карта" title="Виж на картата" />
                    </a>
                </td>
            </tr>
            <tr>
                <td class="time">
                    14<sup class="minutes">00</sup>
                </td>
                <td class="description">
                    Коктейл
                <td class="map-link">
                    <a ui-sref="app.map({location: 'коктейл'})">
                        <img src="images/pin.png" alt="Карта" title="Виж на картата" />
                    </a>
                </td>
            </tr>
            <tr>
                <td class="time">
                    16<sup class="minutes">00</sup>
                </td>
                <td class="description">
                    Венчавка в църква „Св. Тодор“, с. Драгушиново
                </td>
                <td class="map-link">
                    <a ui-sref="app.map({location: 'църква'})">
                        <img src="images/pin.png" alt="Карта" title="Виж на картата" />
                    </a>
                </td>
            </tr>
            <tr>
                <td class="time">
                    16<sup class="minutes">30</sup>
                </td>
                <td class="description">
                    Снимки с гостите
                </td>
                <td class="map-link">
                    <a ui-sref="app.map({location: 'снимки'})">
                        <img src="images/pin.png" alt="Карта" title="Виж на картата" />
                    </a>
                </td>
            </tr>
            <tr>
                <td class="time">
                    17<sup class="minutes">30</sup>
                </td>
                <td class="description">
                    Сватбено тържество в хотел „Лион“, к.к. Боровец
                </td>
                <td class="map-link">
                    <a ui-sref="app.map({location: 'ресторант'})">
                        <img src="images/pin.png" alt="Карта" title="Виж на картата" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>