<div class="main-content">
    <div class="info-section">
        <div class="info-panel">
            <h1>Транспорт</h1>
            <p>
                За гостите без собствен превоз ще бъде осигурен микробус. Той ще потегли в 15:30 от автогарата в гр. Самоков. Вечерта ще върне гостите от Боровец – часът ще бъде уточнен допълнително.
            </p>
        </div>
        <div class="info-panel">
            <h1>За пътуващите от София</h1>
            <p>
                Ако пътувате от София без собствен транспорт, най-лесният начин да стигнете до нас е с автобус от <a ui-sref="app.map({location: 'автогара'})">Автогара Юг</a>.
                Автобус има на всеки 30 минути, а билетът струва между 5 и 7 лв. в зависимост от превозвача.
            </p>
        </div>
        <div class="info-panel">
            <h1>Настаняване</h1>
            <p>
                За гостите, които не живеят в Самоков и околностите, ще бъде осигурена нощувка в х-л „Лион“, к.к. Боровец, където ще отседнем и ние, младоженците. Ще можете да се настаните след 12 ч., а стаята ще бъде запазена на ваше име.
            </p>
        </div>
        <div class="info-panel">
            <h1>Как да намеря някое място?</h1>
            <p>
                Можете да намерите локациите на събитията на <a ui-sref="app.map">картата</a> или като от <a ui-sref="app.timeline">разписанието</a> натиснете нещо от списъка. Не всички локации имат адрес, затова под картата ще намерите и координати, ако имате на разположение GPS.
            </p>
        </div>
        <div class="info-panel">
            <h1>Меню</h1>
            <p>
                От ресторант „Лион“ ни предложиха и вегетарианско меню. Кажете ни, че искате такова, когато се обадите да потвърдите присъствието си.
            </p>
        </div>
        <div class="info-panel">
            <h1>За елхичките</h1>
            <p>
               Елхите, които срещнахте на поканите и навсякъде из нашия сватбен сайт, са символ на нашето младо семейство.
            </p>
        </div>
    </div>
</div>