<div class="main-content">
    <div class="info-section">
        <div class="info-panel">
            <h1>Транспорт</h1>
            <p>
                За гостите без собствен превоз ще бъде осигурен автобус. Подробности за мястото и часа на тръгване ще бъдат обявени допълнително.
            </p>
        </div>
        <div class="info-panel">
            <h1>Настаняване</h1>
            <p>
                За гостите, които не живеят в Самоков и околностите, ще бъде осигурена нощувка в х-л „Лион“, к.к. Боровец, където ще отседнем и ние, младоженците.
            </p>
        </div>
        <div class="info-panel">
            <h1>Меню</h1>
            <p>
                От ресторант „Лион“ ни предложиха и вегетарианско меню. Кажете ни, че искате такова, когато се обадите да потвърдите присъствието си.
            </p>
        </div>
        <div class="info-panel">
            <h1>За елхичките</h1>
            <p>
               Елхите, които срещнахте на поканите и навсякъде из нашия сватбен сайт, са символ на нашето младо семейство.
            </p>
        </div>
    </div>
</div>